.table {
  margin-top: 5em;
}

.cellHead {
  background-color: #252525;
  color: #fff !important;
  font-size: 1.2em !important;
}

.cellBody {
  color: #fff !important;
}

.rowBody:nth-of-type(odd) {
  font-size: 1.1em;
  background-color: #6098ff;
}

.rowBody:nth-of-type(even) {
  background-color: #387dff;
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 1200px;
  width: 60%;
  height: 50em;
  background-color: #fff;;
  border: 1px solid gray;
  box-shadow: 24px;
  padding: 4px;

  .title {
    display: flex;
    justify-content: center;
  }

  .updateModal {
    max-width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    margin-top: 50px;
    gap: 4em;
  }
}
