.child  {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
}
.title {
  margin-top: -4em !important;
  margin-bottom: 2em !important;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;

  .input {
    margin: 1em;
  }
}

.grid {
  margin: 0 auto !important;
  display: flex !important;
  justify-content: center !important;
  margin: 1em;
}