.container {
  position: relative;
  max-width: 50em;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.title {
  color: #000000;
  font-family: 'Oswald', sans-serif;
}

.underTitle {
  color: #0f4f44;
  font-weight: 700;
  font-size: 1.2rem;
  margin: 0 auto;
  position: absolute;
  top: 99%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-family: 'Oswald' ,sans-serif;
  font-weight: 200;
}