.body {
  max-width: 100vw !important;
  min-height: 80vh !important;
  width: 100% !important;
  display: flex !important;
  justify-content: space-evenly !important;
  align-items: center !important;
}

.loadingDiv {
  position: relative !important;

  .loading {
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
  }
}

@media (width < 1090px) {
  .body {
    flex-direction: column !important;
    margin: 0 auto;
  }
}

@media (width < 800px) {
  .body {
    transform: scale(0.7);
  }
}