.funcionarioInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1em;

  .nome {
    font-weight: 900;
    max-width: 40vw;
  }
}

.optionsButton {
  width: 1.2em;
  height: 1.2em;
}
