.description {
  max-width: 27em !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  gap: 1em !important;
  padding: 5% !important;
  text-align: center !important;
  font-size: 1.2rem !important;

  .link {
    text-decoration: underline !important;
    color: #387dff !important;
    font-size: 1.1rem !important;
  }
}