@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap');

* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Oswald', sans-serif !important;
  font-weight: 400 !important;
}