.child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 1200px;
  width: 60%;
  height: 50em;
  background-color: #fff;;
  border: 1px solid gray;
  box-shadow: 24px;
  padding: 4px;
}

.button {
  min-width: 40px;
  background-color: #000000;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;

  &:hover {
    background-color: #464646;
  }
}