.child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 1200px;
  width: 60%;
  height: 50em;
  background-color: #fff;;
  border: 1px solid gray;
  box-shadow: 24px;
  padding: 4px;
}

.addButton {
  min-width: 40px !important; 
  background-color: #000000 !important;
  position: fixed !important;
  bottom: 20px !important;
  right: 20px !important;
  z-index: 999 !important;

  &:hover {
    background-color: #464646 !important;
  }
}