.container {
  width: 500px;
  margin: 0 auto;
  margin-top: 7em;
  display: flex;
  flex-direction: column;
  gap: 10%;
  justify-content: center;
  align-items: center;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 1200px;
  width: 60%;
  height: 50em;
  background-color: #fff;;
  border: 1px solid gray;
  box-shadow: 24px;
  padding: 4px;
}